{% extends 'base.html' %}
{% load static %}


{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

 
{% block content %}

<div class="overlay-container">

      <div class="container-fluid" id="cancel-confirm-container">
        <div class="row">
          <div class="col">
            <h6>Your reservation has been canceled!</h6>  
          </div>
          <div class="row g-0 mt-2">
            <p>What do you want to do now?</p>
            <div class="col d-flex justify-content-around">
              <a class="back-home" href="{% url 'home' %}">GO HOME PAGE</a>
              <a class="back-profile" href="{% url 'profile' %}">BACK TO MY PROFILE</a>
            </div>
          </div>
        </div>

      </div>
      </div>

      <!----------- FOOTER ----------->
 {% include 'includes/footer.html' %}

{% block postloadjs %}
<script type="text/javascript">

  jQuery(function(){
    const cancelConfirm = $("#cancel-confirm-container")

    setTimeout(function(){
      cancelConfirm.fadeIn("slow")
    }, 0.800);

 });

</script>
{% endblock %}
{% endblock %}
