{% extends 'base.html' %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="overlay-container">

<div class="container-fluid" id="update-confirm-container">
    <div class="row">
        <h6>Your personal info it's been updated!</h6>
        <div class="col mt-3">
            <div class="row g-0">
                <div class="col-6 d-flex justify-content-around">
                    <a class="back-profile" href="{% url 'profile' %}">Back to my profile</a>
                </div>
                <div class="col-6">
                    <a class="back-home" href="{% url 'home' %}">Go to home page</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock%}