/******************************* COMMON PROPERTIES*/
body{
  background-color: #efefef;
}
  
  div .bg-image {
    background-image: url("https://res.cloudinary.com/dthlibbj7/image/upload/v1652280638/oriopoxo_xv3vg5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  /************* reservation-result-container SECTION ****/
  #cancelation-form-container {
    border-radius: 10px;
  }
  
  #reservation-result-container {
    background-color: rgb(255, 255, 255);
    margin: 30px auto;
    color: black;
    padding: 50px 50px;
    border-radius: 10px;
  }
  
  #reservation-result-container h6 {
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    color: #fa7a7a;
    line-height: 25px;
  }
  
  #reservation-result-container a{
    color: rgb(244, 114, 0);
  }

  .jumbotron {
    background-color: #eeeeee;
    padding: 3%;
    width: 80%;
  }
  
  .fa-phone {
    margin-left: 20px;
    margin-right: 5px;
  }
  
  #reservation-result-container p, strong {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.800rem;
    text-align: center;
  }
  
  .failed {
    width: 80%;
    margin: 0 auto;
  }
  
  table {
    border-collapse: initial;
  }

   table th, table td{
    color: #fff;
   }

  table td {
    border-collapse: initial;
    border-style: none;
  }
  

  
  @media only screen and (min-width: 320px) and (max-width: 600px) {
  
  
    /****** reservation-result-container SECTION **/
    #reservation-result-container {
      font-size: 0.900rem;
      background-color: rgb(50, 50, 50);
       color: rgb(50, 50, 50);
        margin: 50px auto;
        padding: 5% 5%;
        border-radius: 10px;
        border: solid 1px rgb(3, 3, 3);
        width: 95%;
    }
  
    #reservation-result-container h5 {
      font-size: 0.900rem;
      line-height: 25px;
    }
  
    #reservation-result-container h6 {
      font-size: 0.900rem;
      padding: 4%;
    }
  
    .jumbotron {
      margin: 45px auto auto;
      text-align: center;
      border-radius: 5px;
      padding: 3%;
      width: 90%;
      background-color: #cac7c7;
      color: rgb(50, 50, 50);
    }
  
    .fa-phone {
      margin-right: 5px;
    }
  
    #reservation-result-container p {
      padding-left: 5%;
      padding-right: 5%;
      font-size: 0.900rem;
    }
  
    table .contact-details-row {
      margin-bottom: 80px;
    }
  
    .failed {
      width: 100%;
      margin: 0 auto;
    }
  
    table {
      padding-left: 2%;
      padding-right: 2%;
    }
  
    table th {
      font-size: 0.900rem;
    }
  
    table td {
      font-size: 0.9000rem;
    }
  }
  
  @media only screen and (min-width: 640px) and (max-width: 950px) {
  
    
    /************************* reservation-result-container SECTION */
    #reservation-result-container {
      background-color: rgb(50, 50, 50);
      color: rgb(50, 50, 50);
        margin: 50px auto;
        padding: 5% 5%;
        border-radius: 10px;
        border: solid 1px rgb(3, 3, 3);
        width: 80%;
    }
  
    #reservation-result-container h6 {
      font-size: 0.950rem;
      line-height: 25px;
    }
  
    #reservation-result-container h6 {
      font-size: 0.850rem;
      line-height: 25px;
    }
  
    .jumbotron {
      margin: 45px auto auto;
      text-align: center;
      border-radius: 5px;
      padding: 3%;
      width: 80%;
      background-color: #cac7c7;
      color: rgb(50, 50, 50);
    }
  
    #reservation-result-container p, strong {
      padding-left: 3%;
      padding-right: 3%;
    }
  
    table .contact-details-row {
      margin-bottom: 80px;
    }
  
    table {
      padding-left: 7%;
    }
  
    table th {
      font-size: 0.850rem;
    }
  
    table td {
      font-size: 0.850rem;
    }
  }
  
  @media only screen and (min-width: 1000px) {
  
    .overlay-container{
      width: 100%;
      min-height: 100%;
      padding-top: 1%;
    } 
    /********** reservation-result-container SECTION */
    #reservation-result-container {
      background-color: rgb(50, 50, 50);
      color: rgb(50, 50, 50);
        margin: 50px auto;
        padding: 5% 5%;
        border-radius: 10px;
        border: solid 1px rgb(3, 3, 3);
        width: 70%;
    }
  
    #reservation-result-container h6 {
      font-size: 0.900rem;
      padding-right: 5%;
      padding-left: 5%;
      text-align: center;
    }
  
    .jumbotron {
      margin: 45px auto auto;
      text-align: center;
      border-radius: 5px;
      padding: 3%;
      width: 80%;
      background-color: #cac7c7;
      color: rgb(50, 50, 50);
    }
  
  
    .fa-phone {
      margin-left: 20px;
      margin-right: 5px;
    }
  
    #reservation-result-container p, strong {
      padding-left: 5%;
      padding-right: 5%;
      color: rgb(50, 50, 50);
      font-size: 0.900rem;
      text-align: center;
    }
  
    table .contact-details-row {
      margin-bottom: 80px;
    }
  
    .failed {
      width: 80%;
      margin: 0 auto;
    }
  
    table {
      border-collapse: initial;
      padding-left: 10%;
    }
  
    table th {
      font-size: 0.900rem;
    }
  
    table td {
      border-collapse: initial;
      border-style: none;
      font-size: 0.900rem;
    }
  }