/******************************* COMMON PROPERTIES*/
body {
    background-color: #cac7c7;
  }


  div .bg-image {
    background-image: url("https://res.cloudinary.com/dthlibbj7/image/upload/v1652280638/oriopoxo_xv3vg5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /****** FORM SECTION*/
  #profile-container {
    border-radius: 10px;
  }
  
  #profile-container {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: 30px auto;
    color: black;
    padding: 50px 50px;
  }
  
  .input:-webkit-autofill, input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-background-color: rgb(56, 56, 56);
    -webkit-text-fill-color: rgb(56, 56, 56);
    transition: background-color 5000s ease-in-out 0s;
  }
  
  #profile-container h6 {
    font-size: 0.900rem;
    color: rgb(209, 119, 119);
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: start;
  }
  
  
  .form-control:focus {
    background-color: inherit;
    box-shadow: none;
    color: rgb(55, 55, 55);
    font-size: 0.800rem;
    border-color: rgb(131, 131, 131);
  }
  
  .cancelation-form label {
    display: grid;
    font-size: 0.750rem;
  }
  
  .cancelation-form .row .form-control[name="phone"] {
    width: 90%;
    margin-left: 0;
  }
  
  .cancelation-form input {
    width: 90%;
    height: 35px;
    font-size: 0.750rem;
    padding-left: 10px;
  }
  
  .cancelation-form form {
    width: 100%;
  }
  
  .card {
    border: none;
    padding-bottom: 0;
  }
  
  .cancelation-button-box button[type="button"] {
    width: 60%;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.850rem;
    color: rgb(219, 219, 219);
    background-color: rgb(0, 0, 0);
    letter-spacing: 1px;
  }
  
  .cancelation-button-box button[type="submit"] {
    width: 80%;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    color: rgb(53, 53, 53);
    font-weight: normal;
    font-size: 0.800rem;
    background-color: rgb(138, 187, 153);
  }
  
  .cancelation-button-box button:focus {
    box-shadow: none;
  }
  
  .cancelation-button-box p {
    margin-top: 5px;
    font-size: 0.800rem;
    margin-bottom: 0;
  }
  
  .cancelationEmailError, .cancelationPhoneError, .cancelationDateError {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: oblique;
    font-size: 0.500rem;
    padding: 0;
    position: relative;
    bottom: 5px;
    left: 15px;
    letter-spacing: 1px;
  }
  
  .form-control.error.cancelation-input {
    border-color: red;
  }
  
  .form-control.success.cancelation-input {
    border-color: rgb(0, 162, 11);
  }
  
  .form-button-box button[type="submit"] {
    width: 60%;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.850rem;
    color: rgb(219, 219, 219);
    background-color: rgb(0, 0, 0);
    letter-spacing: 1px;
  }
  
  table {
    border-collapse: initial;
  }
  
  table td {
    border-collapse: initial;
    border-style: none;
    font-size: 0.900rem;
  }
  
  footer .cancelations-footer {
    padding-top: 80px;
    background-color: #cac7c7;
  }
  
  /*************** HEADER */
  .navbar {
    background-color: #cac7c7;
    font-family: 'Roboto Slab', serif;
    position: relative;
    z-index: 2;
  }
  
  nav .nav-item a {
    background-color: inherit;
    padding-left: 6px;
    padding-right: 6px;
    border-top: solid 1px #cac7c7;
    border-right: solid 1px #cac7c7;
    border-left: solid 1px #cac7c7;
    color: rgb(120 120 120);
  }
  
  .separator {
    background-color: #727272;
    height: 1px;
    width: 25%;
    margin: 45px auto 0;
}

  nav .logo p {
    font-family: 'Beau Rivage', cursive;
    color: rgb(255, 255, 255);
  }
  
  .logo h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    color: #727272;
  }
  
  .copy-right p {
    font-size: 0.800rem;
  }
  
  .title{
    font-weight: bold;
  }

  /******************************************************************** MOBILE SCREEN */
  @media only screen and (min-width: 320px) and (max-width: 600px) {
  
    .overlay-container{
      /* background-color: aliceblue; */
      width: 100%;
      padding-top: 1%;
      padding-bottom: 7px;
    }
  
    #update-confirm-container .back-home{
      padding-bottom: 9.5px;
      position: relative;
      bottom: 7px;
    }

    /********************* PROFILE PAGE*/
    #profile-container {
      position: relative;
      z-index: 9;
      width: 90%;
      background-color: #ffffff;
      padding: 25px 20px;

    }
  
    #profile-container p{
      font-size: 0.675rem;
      margin: 3px auto;
    }

    #profile-container a{
      font-size: 0.600rem;
      margin-top: 5px;
      text-decoration: none;
    }

    #profile-container h4{
      font-size: 1rem;
      margin: 3px auto;
    }

    #profile-container h6{
      font-size: 0.800rem;
    }

    #profile-container .info{
      font-size: 0.550rem;
      color:#727272;
      margin-top: 0;
    }

    .hr-title{
      width: 40%;
    }

/************ CANCELATION CONFIRMATION PAGE */
#cancel-confirm-container, #update-confirm-container{
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  margin: 30px auto;
  padding: 6% 3%;
  border-radius: 5px;
  border: solid 1px rgb(159, 159, 159);
  width: 90%;
  height:100%;
  text-align: center;
}

#cancel-confirm-container h6, #update-confirm-container h6 {
  font-size: 0.800rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
  line-height: 25px;
}

#cancel-confirm-container p, #update-confirm-container p{
  font-size: 0.800rem;
}

#cancel-confirm-container a, #update-confirm-container a{
  font-size: 0.700rem;
  text-decoration: none;
  color: rgb(255, 177, 108);
  border-bottom: solid 1px rgb(173, 173, 173);
}

  }
  
  /******************************************************************** TABLET SCREEN */
  @media only screen and (min-width:640px) and (max-width:950px) {
  
    .overlay-container{
      width: 100%;
      padding-top: 1%;
      padding-bottom: 205px;
    }
  
    #update-confirm-container .back-home{
      padding-bottom: 6px;
      position: relative;
      bottom: 4px;
    }

    /********************** PROFILE PAGE*/
     #profile-container {
      position: relative;
      z-index: 9;
      width: 70%;
      background-color: #ffffff;
    }
  
    #profile-container p{
      font-size: 0.700rem;
      margin: 3px auto;
    }

    #profile-container a{
      font-size: 0.600rem;
      margin-top: 5px;
      text-decoration: none;
    }
    #profile-container h4{
      font-size: 1.2rem;
      margin: 3px auto;
    }

    #profile-container .info{
      font-size: 0.500rem;
      color:#727272;
      margin-top: 0;
    }

    .hr-title{
      width: 60%;
    }

  /************ UPDATE AND CANCELATION CONFIRMATION PAGES */
  #cancel-confirm-container, #update-confirm-container{
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    margin: 50px auto;
    padding: 6% 3%;
    border-radius: 5px;
    border: solid 1px rgb(159, 159, 159);
    width: 60%;
    height:100%;
    text-align: center;
  }

  #cancel-confirm-container h6,#update-confirm-container h6 {
    font-size: 1rem;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    line-height: 25px;
  }

  #cancel-confirm-container p, #update-confirm-container p{
    font-size: 0.800rem;
  }

  #cancel-confirm-container a, #update-confirm-container a{
    font-size: 0.850rem;
    text-decoration: none;
    color: rgb(255, 177, 108);
    border-bottom: solid 1px ;
    border-bottom: solid 1px rgb(173, 173, 173);
  }
  }
  
  /******************************************************************** DESKTOP SCREEN */
  @media only screen and (min-width: 1000px) {

  
    .overlay-container{
      width: 100%;
      padding-top: 1%;
      padding-bottom: 0.1%;
    }

    #update-confirm-container .back-home{
      padding-bottom: 5px;
    }

     /********************** PROFILE PAGE*/
     #profile-container {
      position: relative;
      z-index: 9;
      width: 60%;
      background-color: #ffffff;
    }
    
     .card-body{
  padding-left: 0px;
     }

    #profile-container button[type="submit"]{
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(219, 219, 219);
    font-weight: bold;
    font-size: 0.550rem;
    background-color: rgb(0, 0, 0);
    letter-spacing: 1px;
    }

    #profile-container .form-control{
      height: 30px;
      margin-bottom: 5px;
      font-size: 0.700rem;
    }
    #profile-container .form-control::placeholder{
      font-size: 0.700rem;

    }
    #profile-container p{
      font-size: 0.750rem;
      margin: 3px auto;
    }

    #profile-container a{
      font-size: 0.650rem;
      margin-top: 5px;
      text-decoration: none;
    }

    #profile-container .info{
      font-size: 0.550rem;
      color:#727272;
      margin-top: 0;
    }

    .hr-title{
      width: 60%;
    }

  /************ UPADATE AND CANCELATION CONFIRMATION PAGES */
  #cancel-confirm-container, #update-confirm-container{
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    margin: 50px auto 300px;
    padding: 6% 3%;
    border-radius: 5px;
    border: solid 1px rgb(159, 159, 159);
    width: 50%;
    height:100%;
    text-align: center;
  }

  #update-confirm-container ~ #footer-container{
    margin-top: 200px;
  }

  #cancel-confirm-container h6, #update-confirm-container h6 {
    font-size: 1rem;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    line-height: 25px;
  }

  #cancel-confirm-container p, #update-confirm-container p{
    font-size: 0.800rem;
  }

  #cancel-confirm-container a, #update-confirm-container a{
    font-size: 0.850rem;
    text-decoration: none;
    color: rgb(255, 177, 108);
    border-bottom: solid 1px ;
    border-bottom: solid 1px rgb(173, 173, 173);
  }

  #update-confirm-container .back-home{
    position: relative;
    bottom: 4px;
  }
  }