

/* ---------- HEADER -------------------*/
header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cac7c7;
    font-family: 'Roboto Slab', serif;
    font-size: 400;
}

nav .nav-link {
    /* color: #000; */
    color: rgb(68, 68, 68);

}

.separator{
    background-color: #727272;
    height: 1px;
    width: 25%;
    margin: 15px auto 0 ;
}


.logo h2{   
     font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: 2.3rem;
    color: #727272;
}

.logo p {
    font-family: 'Beau Rivage', cursive;
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
}



/*------- SECTION 1 -------------*/

div .bg-image {
    width: 100%;
    background-image: url("https://res.cloudinary.com/dthlibbj7/image/upload/o_78/v1649152444/room_dvaada.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: bisque;
    height: 250px;
}

div .bookings{
    width: 70%;
    height: 200px;
    background-color: rgb(238, 148, 148);
    margin-top: 160px;
}



@media only screen and (min-width: 768px){

    div .bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
     }

}

@media only screen and (min-width: 600px){

}

@media only screen and (max-width: 600px) {


}