/******************************* COMMON PROPERTIES*/

  .bg-image{
    position: absolute;
    z-index: 0;
  }

  .form-control.error, .cancelation-input.error {
    border-color: red;
  }
  
  .form-control.success, .cancelation-input.success {
    border-color: rgb(0, 162, 11);
  }
  
  .nameError, .lastNameError, .phoneError, .emailError, .dateError,
  .partyError, .timeError, .cancelationEmailError, .cancelationPhoneError {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: oblique;
    font-size: 0.500rem;
    padding: 0;
    position: relative;
    bottom: 5px;
    left: 15px;
    letter-spacing: 1px;
  }
  
  body {
    font-family: 'Roboto Slab', serif;
    color: rgb(89, 89, 89);
  }
  
  div li {
    list-style-type: none;
  }
  
  div .bg-image {
    background-image: url("https://res.cloudinary.com/dthlibbj7/image/upload/v1652280638/oriopoxo_xv3vg5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .send-email{
    text-decoration: underline;
    cursor: pointer;
  }

  /*************** HEADER */
  .navbar {
    background-color: #cac7c7;
    font-family: 'Roboto Slab', serif;
    position: relative;
    z-index: 2;
  }
  
  nav .nav-item a {
    color: rgb(89, 89, 89);
    background-color: inherit;
    padding-left: 6px;
    padding-right: 6px;
    border-top: solid 1px #cac7c7;
    border-right: solid 1px #cac7c7;
    border-left: solid 1px #cac7c7;
  }
  
  nav .nav-item a:hover {
    color: rgb(255, 255, 255);
  }

  nav .separator {
    margin-top: 10px;
  }
  
  .separator {
    background-color: #727272;
    height: 1px;
    width: 25%;
    margin: 45px auto 0;
  }
  
  .logo h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    color: #727272;
  }
  
  /******* HEADINGS*/
  .headding h5 {
    color: hsl(0, 5%, 71%);
  }
  
  .headding h1 {
    color: #000000;
    padding-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    border-top: solid 1px rgb(255, 255, 255);
    border-right: solid 1px rgb(255, 255, 255);
    border-left: solid 1px rgb(255, 251, 251);
  }
  
  /********** RESERVATIONS SECTION*/
  .bookings .headding h1 {
    margin-bottom: 10px;
  }
  
  .bookings .headding p {
    letter-spacing: 1px;
  }
  
  .avalability-box {
    margin-bottom: 50px;
  }
  
  .availability-button-container a {
    font-size: 0.900rem;
    text-decoration: none;
    color: rgb(209, 119, 119);
  }
  
  .availability-card {
    margin-top: 25px;
    border: none;
  }
  
  .reservations-button {
    border: solid 1px rgb(255, 247, 247);
    width: inherit;
    margin: 40px auto;
    padding-top: 7px;
  }
  
  .contact-social-icons-box p {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .contact-social-icons-box i {
    margin-top: 5px;
  }
  
  .contact-social-icons-box .phone-b i {
    margin-top: 15px;
  }
  
  /********* RESERVATIONS FORM */
  .form-control {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: rgb(46, 46, 46);
    border-color: rgb(131, 131, 131);
    font-size: 0.800rem;
    letter-spacing: 1px;
  }
  
  .input:-webkit-autofill, input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-background-color: rgb(56, 56, 56);
    -webkit-text-fill-color: rgb(56, 56, 56);
    transition: background-color 5000s ease-in-out 0s;
  }
  
  .form-control:focus {
    background-color: inherit;
    box-shadow: none;
    color: rgb(55, 55, 55);
    font-size: 0.800rem;
    border-color: rgb(131, 131, 131);
  }
  
  .form-control[name="prefix"] {
    width: 110%;
    background-color: #fbfbfb;
    font-size: 0.800rem;
    opacity: 0.7;
  }
  
  .form-control[name="phone"] {
    width: 80%;
    margin-left: 15px;
  }
  
  input[type="date"] {
    color: rgb(55, 55, 55);
    font-size: 0.800rem;
    opacity: 0.7;
  }
  
  .form-select.form-control[name="start_time"] {
    width: 100%;
    color: #292929;
    font-size: 0.800rem;
  }
  
  .form-select.form-control[name="start_time"]:focus {
    color: #292929;
  }
  
  .form-select.from-control[name="start_time"]::placeholder {
    color: rgb(177, 175, 175);
    font-size: 0.800rem;
  }
  
  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(177, 175, 175);
    font-size: 0.800rem;
  }
  
  .booking-form-box button[type="submit"], #contact-form button[type="submit"] {
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(219, 219, 219);
    font-weight: bold;
    font-size: 0.850rem;
    background-color: rgb(0, 0, 0);
    letter-spacing: 3px;
  }
  
  button[type="submit"]:hover {
    font-weight: bold;
    background-color: #989595;
    opacity: 1;
    color: rgb(255, 253, 253);
  }
  
  button[type="submit"]:focus {
    box-shadow: none;
  }
  
  /********** AWARDS SECTION*/
  .awards span {
    margin-right: 10px;
    color: #4c4b4b;
  }
  
  .awards p {
    margin-bottom: 70px;
    color: #4c4b4b;
  }
  
  .dots {
    margin-bottom: 100px;
    color: hsl(0, 0%, 71%);
  }
  
  .container-workteam p {
    color: hsl(0, 1%, 57%);
    letter-spacing: 1px;
  }
  
  /**************** ABOUT SECTION */
  .about p {
    letter-spacing: 2px;
    margin-bottom: 120px;
  }
  
  /***************** GALLERY SECTION*/
  .carousel-item img {
    width: 100%;
  }
  
  .carousel-indicators button img {
    width: 100%;
  }
  
  .controls {
    background-color: rgb(228, 225, 225);
  }
  
  /**************** MENUS SECTION*/
  .menus-container .row div a {
    color: #4c4b4b;
    text-decoration: none;
  }
  
  .menus-separator {
    color: hsl(0, 0%, 71%);
  }
  
form label {
    display: none;
  }

  /*************** FOOTER **/
  footer a {
    text-decoration: none;
    position: relative;
    padding: 0.2em 0;
    text-align: center;
    color: inherit;
    font-size: 0.900rem;
  }
  
  footer a:hover {
    color: #a8a8a8
  }
  
  footer .footer-link:hover {
    color: hsl(0, 0%, 35%);
  }
  
  /* Fade in */
  .footer-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 65px;
    width: 100%;
    height: 0.075em;
    background-color: hsl(0, 0%, 35%);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .footer-link:hover::before {
    opacity: 1;
    transform: scaleX(1);
  }
  
  .copy-right {
    margin-top: 100px;
    font-size: 14px;
  }
  
  .dots-box{
    margin-top: 70px;
    justify-content: center;
  }

  .dot{

    background-color: #727272;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: auto 15px;
  }
  /************** ANIMATIONS */
  nav .nav-item a:hover {
    animation-name: border;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    transition: ease-in;
  }
  
  @keyframes border {
    from {
      border-top: solid 1px #cac7c7;
      border-right: solid 1px #cac7c7;
      border-left: solid 1px #cac7c7;
    }
  
    to {
      border-top: solid 1px black;
      border-right: solid 1px black;
      border-left: solid 1px black;
    }
  }
  
  .headding h1:hover {
    border-top: solid 1px rgb(255, 255, 255);
    border-right: solid 1px rgb(255, 255, 255);
    border-left: solid 1px rgb(255, 251, 251);
    animation-name: headdings-border;
    animation-duration: 1.7s;
    animation-fill-mode: both;
    transition: ease-in;
  }
  
  @keyframes headdings-border {
    from {
      border-top: solid 1px rgb(255, 255, 255);
      ;
      border-right: solid 1px rgb(255, 255, 255);
      border-left: solid 1px rgb(255, 251, 251);
    }
  
    to {
      border-top: solid 1px rgb(0, 0, 0);
      ;
      border-right: solid 1px rgb(0, 0, 0);
      border-left: solid 1px rgb(0, 0, 0);
    }
  }
  
  nav .logo p {
    font-family: 'Beau Rivage', cursive;
    color: #838383;
    animation-name: text-flash;
    animation-duration: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
  }
  
  @keyframes text-flash {
    from {
      color: #838383;
    }
  
    to {
      color: #ffffff;
    }
  }
  
  /**** JQUERY ADDCLASSES ****/
  .hover:hover {
    border-top: solid 1px rgb(255, 255, 255);
    ;
    border-right: solid 1px rgb(255, 255, 255);
    border-left: solid 1px rgb(255, 251, 251);
  }
  

  /******************************************************************** MOBILE SCREEN */
  @media only screen and (min-width: 320px) and (max-width: 600px) {
  
    body p{
      font-size: 0.900rem;
    
    }
    /******************** HEADDINGS*/
    .headding h5 {
      margin-top: 100px;
      margin-bottom: 50px;
      color: hsl(0, 5%, 71%);
      font-size: 1.2rem;
      letter-spacing: 5px;
      line-height: 45px;
    }
  
    .dots {
      margin-bottom: 30px;
    }
  
    .headding h1 {
      font-family: 'Roboto Slab', serif;
      font-size: 1.4rem;
      font-weight: 300;
      margin: 80px auto 130px;
    }
  
    /******************************** HEADER*/
    .navbar .container-fluid {
      margin-top: 10px;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 5%;
      padding-right: 5%;
    }
  
    nav .nav-link {
      text-align: center;
      margin-left: 5px;
      font-size: 0.975rem; 
      color: rgb(120 120 120);
    }
  
   nav .container-fluid .separator{
      margin-top: 20px;
    }

    nav .nav-item .nav-link {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 0;
    }
  
    nav h2{
      font-size: 3.3rem;
    }

    .logo p {
      font-family: 'Beau Rivage', cursive;
      font-size: 1.8rem;
      color: #838383;
      margin-top: 30px;
      margin-left: 5px;
    }
  
    div .bg-image {
      width: 100%;
      height: 250px;
      z-index: -1;

    }
  
    /********************* ABOUT SECTION */


    /********************** RESERVATIONS SECTION */
    div .bookings {
      width: 90%;
      padding: 4% 5%;
      margin-bottom: 120px;
      margin-top: 240px;
    }
  
    .bookings h1 {
      margin: 60px auto 80px;
    }
  
    .reservations-button {
      border: solid 1px black;
      width: 90%;
      margin: 20px auto;
      padding-top: 7px;
    }
  
    button[type="submit"] {
      width: 80%;
    }
  
    .reservations-button h5 {
      font-size: 0.750rem;
      letter-spacing: 2px;
    }
  
    .bookings div h3 {
      font-size: 0.800rem;
    }
  
    .bookings div p {
      font-size: 0.850rem;
    }
  
    .contact-social-icons-box p {
      margin-left: -5px;
      margin-bottom: 10px;
    }
  
    .contact-social-icons-box .phone-b i {
      margin-top: 12px;
    }
  
    /************************** AWARDS SECTION  */
    .michelin-img-box img {
      margin-top: 50px;
      height: 100px;
    }
  
    #awards {
      margin-top: 150px;
      margin-bottom: 70px;
      padding-left: 5%;
      padding-right: 5%;
    }
  
    .awards {
      margin-top: 30px;
    }
  
    .awards p {
      margin-bottom: 50px;
    }
  
    /**************************** WORKTEAM SECTION */
    #workteam {
      margin-top: 50px;
      margin-bottom: 100px;
      padding-left: 10%;
      padding-right: 10%;
    }
  
    .team-img-box, .chef-img-box {
      width: 500px;
      height: 200px;
      margin: auto;
    }
  
    #workteam img {
      width: 100%;
    }
  
    .container-workteam p {
      font-size: 0.900rem;
      margin-top: 50px;
      padding-left: 7%;
      padding-right: 7%;
    }
  
    .container-workteam .row {
      margin-top: 100px;
    }
  
    /***********************  GALLERY **/
    #gallery h1 {
      margin-bottom: 30px;
    }
  
    .media-container {
      margin-bottom: 40px;
    }
  
    .carousel {
      height: 500px;
      width: 100%;
      margin: 0 auto;
    }
  
    .col .carousel-inner {
      margin: 0 auto;
    }
  
    .carousel-item {
      height: 400px;
      padding: 7% 0;
    }
  
    .carousel-item img {
      margin-top: 90px;
    }
  
    /**************************** MENUS *****/
    #menus {
      margin-bottom: 50px;
      padding-right: 18%;
      padding-left: 18%;
    }
  
    .menus-container {
      margin-bottom: 100px;
    }
  
    .menus-container .row div {
      margin: 40px 0;
    }

    .menus-container i{
      color: #9e9e9e;
    }
  
    /********************* FOOTER SECTION ******/
   
    .copy-right {
      margin-top: 50px;
      font-size: 15px;
    }
  
    footer .container-fluid {
      margin-top: 60px;
    }
  
    .phone{
      margin-top: 4px;
    }
  
    .fa-envelope {
      margin-top: 6px;
      margin-right: 15px;
    }
  
    .address p:first-child {
      margin-bottom: 0;
    }
  
    .footer-link {
      margin: 10px;
    }

    div .social-icons-box {
      display: inline-flex;
      margin-top: 20px;
      justify-content: space-around;
      padding-left: 90px;
      padding-right: 90px;
    }
  
    #footer-container{
      position: relative;
      z-index: 0;
      margin-top: 100px;
      padding: 0 12%;
      font-size: 0.900rem;
    }

    #footer-container a {
      margin: 5px;
      font-size: 1rem;
    }

    #footer-container li {
      font-size: 0.900rem;
      margin: 20px 0;   
    }

    .fa-phone {
      margin-top: 10px;
      margin-right: 14px;
    }
    
    .fa-envelope{
      margin-top: 1px;
    } 
  
    .fa-house-chimney{
      margin-right: 10px;
    }

    .copy-right {
      margin-top: 100px;
      font-size: 14px;
    }

        /************* CONTACT FORM */
        .modal-contact{
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 99;
        }
        
        .popup {
          position: absolute;
          width: 90%;
          padding-bottom: 4%;
          top: 20%;
          left: 5%;
          text-align: center;
          background: white;
          border-radius: 10px;
        }
        
        #close{
          padding-top: 10px;
          margin-top: 5px;
          margin-right:40px;
          font-size: 1rem;
        }
        
        .contact-form-input{
          margin: 0 auto 5px;
          width: 80%;
          font-size: 0.750rem;
    
        }
    
        .popup h6{
          font-size: 0.850rem;
          font-weight: bold;
        }
    
        .popup p{
          font-size: 0.750rem;
        }
        
        .contact-form-input::placeholder{
          font-size: 0.750rem;
        }

        #contact-form button[type="submit"] {
          width: 50%;
          font-size: 0.750rem;
        }

/********** MESSAGES CONTAINER*/
.message-container{
  position: relative;
  top: 50px;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px rgb(159, 159, 159);
  width: 80%;
  height: 190px;  
}

#message-box p{
  font-size: 0.800rem;
  padding: 0 5%;
}

.message-container #close-message{
 color: #ffffff;
 font-size: 1rem;
 margin-top: 10px;
 margin-right: 5px;
 color: rgb(255, 177, 108);
}
  }
  
  /******************************************************************** TABLET SCREEN */
  @media only screen and (min-width:640px) and (max-width:950px) {
  
    /********************* HEADDINGS*/
    .headding h5 {
      margin-top: 100px;
      margin-bottom: 50px;
      color: hsl(0, 5%, 71%);
      font-size: 1.2rem;
      letter-spacing: 5px;
      line-height: 45px;
    }
  
    .headding h1 {
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      margin-bottom: 180px;
      margin-top: 70px;
    }
  
    /****************************** HEADER*/
    nav .nav-link {
      margin-left: 5px;
      margin-right: 33px;
      font-size: 1rem;
    }
  
    nav .nav-item .nav-link {
      padding-left: 6px;
      padding-right: 6px;
    }
  
    .navbar .container-fluid {
      margin-top: 15px;
      display: flex;
      flex-direction: column-reverse;
    }
  
    nav .nav-item {
      padding-left: 2px;
      padding-right: 2px;
    }
  
    nav h2{
      font-size: 3.8rem;
    }
    
    .logo p {
      font-family: 'Beau Rivage', cursive;
      font-size: 2rem;
      color: #838383;
      margin-top: 35px;
      margin-left: 5px;
    }

   nav .separator{
     margin-top: 30px;
     margin-bottom: 10px;
   }

    div .bg-image {
      width: 100%;
      height: 500px;
      z-index: -1;

    }
  
    /*********************** RESERVATIONS SECTION *****/
    div .bookings {
      width: 70%;
      padding: 4% 5%;
      margin-top: 520px;
      margin-bottom: 0;
    }
  
    .bookings h1 {
      margin: 80px auto 80px;
    }
  
    .reservations-button {
      border: solid 1px black;
      width: inherit;
      margin: 40px auto;
      padding-top: 7px;
    }
  
    .reservations-button h5 {
      font-size: 0.950rem;
      letter-spacing: 2px;
    }
  
    .bookings div h3 {
      font-size: 1rem;
    }
  
    .bookings div p {
      font-size: 0.900rem;
    }
  
    /***************************** AWARDS SECTION */
    .about {
      padding-right: 10%;
      padding-left: 10%;
    }
  
    .container-about, .container-workteam {
      padding: 5% 15%;
    }
  
    .awards p {
      margin-bottom: 50px;
      padding-left: 15%;
    }
  
    .michelin-img-box {
      padding-top: 6%;
      padding-bottom: 8%;
    }
  
    .michelin-img-box img {
      width: 30%;
      height: 100px;
    }
  
    /************************** WORKTEAM SECTION */
    #workteam {
      margin-bottom: 90px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .team-img-box, .chef-img-box {
      width: 400px;
      height: 200px;
      margin: 0 auto;
    }
  
    #workteam img {
      width: 100%;
    }
  
    .container-workteam p {
      margin-top: 90px;
      padding-left: 13%;
      padding-right: 13%;
    }
  
    .container-workteam .row {
      margin-top: 80px;
    }
  
    .team-img-box {
      margin-top: 90px;
    }
  
    /*************************  GALLERY */
    #gallery {
      margin-top: 120px;
      margin-bottom: 50px;
    }
  
    .media-container {
      margin-bottom: 160px;
    }
  
    .carousel {
      width: 700px;
      margin: 0 auto;
    }
  
    .col .carousel-inner {
      margin: 0 auto;
    }
  
    .carousel-item {
      height: 450px;
      padding: 0 15%;
    }
  
    .carousel-item img {
      margin-top: 30px;
    }
  
    /*********************** MENUS */
    #menus {
      margin-top: 120px;
      margin-bottom: 50px;
      padding-right: 18%;
      padding-left: 18%;
    }
  
    .menus-container {
      margin-bottom: 200px;
      padding: 0 15%;
    }
  
    /********************** FOOTER*/
    .social-icons-box {
      margin-top: 20px;
      justify-content: space-around;
      padding-left: 100px;
      padding-right: 100px;
    }
  
    #footer-container{
      position: relative;
      z-index: 0;
      margin-top: 100px;
      padding: 0 12%;
    }

  
    #footer-container a {
      margin: 5px;
      font-size: 0.900rem;
    }

    #footer-container li {
      margin: 25px;
      font-size: 0.900rem;
    }

    #footer-container {
      font-size: 0.900rem;
    }

    #footer-container li {
      font-size: 0.900rem;
      margin: 20px 0;    
    }

  
  
.fa-house-chimney{
      margin-top: 12px;
    }

     /************* CONTACT FORM */
     .modal-contact{
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 99;
    }
    
     .popup {
      position: absolute;
      width: 60%;
      padding-bottom: 2%;
      top: 11%;
      left: 21%;
      text-align: center;
      background: white;
      border-radius: 10px;
    }
    
    .popup h6{
      font-size: 0.950rem;
      font-weight: bold;
    }

    .popup p{
      font-size: 0.850rem;
    }

    #close{
      padding-top: 10px;
      margin-top: 5px;
      margin-right:40px;
      font-size: 1.2rem;
    }
     .contact-form-input{
      margin: 0 auto 5px;
      width: 60%;
      font-size: 0.800rem;

    }
    .contact-form-input::placeholder{
      font-size: 0.800rem;

    }
/******** MESSAGES CONTAINER*/
    .message-container{
      position: relative;
      top: 50px;
      background-color: rgb(50, 50, 50);
      color: rgb(255, 255, 255);
      text-align: center;
      margin: 0 auto;
      border-radius: 5px;
      border: solid 1px rgb(159, 159, 159);
      width: 60%;
      height: 150px;  
    }

    #message-box p{
      font-size: 0.900rem;
      padding: 0 10%;
   }
 
   .message-container #close-message{
     color: #ffffff;
     font-size: 1.1rem;
     margin-top: 10px;
     margin-right: 5px;
     color: rgb(255, 177, 108);
   }
  }
  
  /******************************************************************** DESKTOP SCREEN */
  @media only screen and (min-width: 1000px) {
  
    /************************ HEADINGS */
    .headding h5 {
      margin-top: 120px;
      margin-bottom: 70px;
      color: hsl(0, 5%, 71%);
      letter-spacing: 5px;
    }
  
    .headding h1 {
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      margin-top: 40px;
      margin-bottom: 200px;
    }
  
    /*************************  HEADER *******/
    #reservations {
      margin-top: 480px;
      margin-bottom: 130px;
    }
  
    .navbar {
      padding-left: 7%;
      padding-right: 7%;
    }
  
    nav .nav-link {
      padding-top: 35px;
      margin-top: 30px;
      margin-left: 10px;
      padding-left: 10px;
      font-size: 0.950rem;
    }
  
    .logo h2 {
      font-size: 4.2rem;
    }
  
    .logo p {
      font-size: 1.8rem;
      margin-top: 45px;
      margin-left: 15px;
    }
  
    div .bg-image {
      width: 100%;
      height: 500px;
      z-index: -1;
    }
  
    /***************************** RESERVATIONS SECTION *****/
    div .bookings {
      width: 70%;
      margin-top: 40px;
      padding: 4% 5%;
    }
  
    .bookings h1 {
      margin: 40px auto 80px;
    }
  
    .reservations-button h5 {
      font-size: 1rem;
      letter-spacing: 2px;
    }
  
    .bookings div h3 {
      font-size: 1rem;
    }
  
    .bookings div p {
      font-size: 0.800rem;
    }
  
    .contact-social-icons-box p {
      margin-left: 10px;
      margin-bottom: 10px;
    }
  
    .contact-social-icons-box i {
      margin-top: 5px;
    }
  
    .contact-social-icons-box .phone-b i {
      margin-top: 15px;
    }
  
      

    /*************************** AWARDS SECTION */
    .container-about .about {
      padding-right: 18%;
      padding-left: 18%;
    }
  
    .container-about, .container-workteam {
      padding: 5% 15%;
    }
  
    .michelin-img-box {
      padding-top: 6%;
      padding-bottom: 8%;
    }
  
    .michelin-img-box img {
      width: 20%;
      height: 110px;
    }
  
    /************************ GALLERY SECTION*/
    #gallery {
      margin-bottom: 50px;
    }
  
    #gallery h1 {
      margin-bottom: 130px;
    }
  
    .media-container {
      margin-bottom: 250px;
      margin-top: 100px;
    }
  
    .carousel {
      height: 500px;
      width: 1000px;
      margin: 0 auto;
    }
  
    .col .carousel-inner {
      margin: 0 auto;
    }
  
    .carousel-item {
      height: 550px;
      padding: 7% 15%;
    }
  
    /************************* WORKTEAM SECTION */
    #workteam {
      margin-bottom: 150px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .team-img-box, .chef-img-box {
      width: 380px;
      margin: 40px auto auto;
    }
  
    #workteam img {
      width: 100%;
      height: 210px;
    }
  
    .container-workteam .row {
      margin-top: 120px;
    }
  
    .container-workteam p {
      margin-top: 45px;
      padding-left: 5%;
      padding-right: 5%;
    }
  
    .container-workteam .headding h1 {
      margin-bottom: 180px;
    }
  
    /************************ MENUS */
    #menus {
      margin-bottom: 50px;
      padding-right: 18%;
      padding-left: 18%;
    }
  
    .menus-container {
      margin-bottom: 250px;
      margin-top: 100px;
    }
  
    /*************************** FOOTER ******/
    #footer-container{
      position: relative;
      z-index: 0;
      /* margin-top: 500px; */
      padding: 0 12%;
    }

    #footer-container p, #footer-container a{
      font-size: 0.900rem;
    }
    .footer-link {
      margin-top: 20px;
    }
  
    .contact-wraper {
      margin-top: 80px;
    }
  
    .contact-container i {
      position: relative;
      margin-right: 15px;
    }
    
    .fa-envelope{
      margin-top: 13px;
    }

    .fa-house-chimney{
      margin-bottom: 10px;
    }

    .phone i {
      position: relative;
      top: 15px;
    }

    .social-icons-box {
      margin-top: 60px;
      justify-content: space-around;
      padding-left: 200px;
      padding-right: 200px;
    }
  
    .social-icons-box {
      margin-top: 40px;
    }
  
    #map {
      margin: 20px 75px;
      height: 200px;
      width: 70%;
    }

    /************* CONTACT FORM */
    .modal-contact{
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 99;
    }
    
    .popup {
      position: absolute;
      width: 50%;
      padding-bottom: 2%;
      top: 11%;
      left: 25%;
      text-align: center;
      background: white;
      border-radius: 10px;
    }
    
    #close{
      padding-top: 10px;
      margin-top: 5px;
      margin-right:40px;
      font-size: 1.5rem;
    }
    
    .contact-form-input{
      margin: 0 auto 5px;
      width: 60%;
      font-size: 0.800rem;

    }

    .popup h6{
      font-size: 1rem;
      font-weight: bold;
    }

    .popup p{
      font-size: 0.800rem;
    }
    
    .contact-form-input::placeholder{
      font-size: 0.800rem;
    }

  /******** MESSAGES CONTAINER*/
  .message-container{
    position: relative;
    top: 50px;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px rgb(159, 159, 159);
    width: 50%;
    height: 200px;  
  }

  #message-box p{
     font-size: 0.900rem;
     padding: 0 10%;
  }

  .message-container #close-message{
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-right: 5px;
    color: rgb(255, 177, 108);
  }

  }