{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="One Pico Dublin Finne Dinning Restaurant">
  <meta name="keyword:" content="">
  <title>One Pico</title>

  <!-- BOOTSTRAP  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  <!-- STYLESHEET -->
  
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Roboto+Slab:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  
<!----  JQUERY CDNJS ------->

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">

<!-- CDN JQUERY-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/3.5.1/jquery.timepicker.min.css">


<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<!-- ICONS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>

<body>

  <div class="main-wraper">

    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light  ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <div class="flex-row d-inline-flex text-center logo">
              <h2 class="d-inline ">OP</h2>
              <p class="d-inline">Fine Dinning Experience</p>
          </div>
        </a>
        <div class="separator d-sm-block d-lg-none"></div>
           <div class="">
            <ul class="navbar-nav ms-auto flex-row">
              <li class="nav-item">
                <a class="nav-link wow animate__fadeIn" data-wow-delay="1s" aria-current="page" href="#">HOME</a>
              </li>

              
            </ul>
           </div>
           
        </div>
      </nav>
    </header>


  </div>
  <div class="content-wraper container-fluid">
<div class="">
  <div class="row text-center">
    <div class="container-fluid bg-image">
      <div  class="text-start" id="cancelation-form-container">     
        <h6>Please, check your booking confimation email before fiiling the fields!</h6>
          <form class="cancelation-form needs-validation" name="RegForm" id="cancelation_form" method="POST" action="{% url 'cancelation' %}" onclick="handleSubmitCancelation(event)" novalidate>
            {% csrf_token %}
            <!-- <div class="form-group">
            <label for="email">Email registered on the reservation</label>
            <input type="email" name="email" id="email" >
            </div>
            <div class="form-group">
            <label for="phone">Contact number registered<br> on the reservation</label>
            <input type="text"  name="phone" id="phone" >        
            </div>      
          </form> -->
          <div class="row">
            <div class="col-lg-6"><label for="email">Email registered on the reservation.</label></div>
            <div class="col-lg-6"><input type="email" class="form-control cancelation-input" name="email" id="email" ></div>
            <div class="invalid cancelationEmailError"></div>
          </div>
          
          <div class="row">
            <div class="col-lg-6"><label for="phone">Contact number registered<br> on the reservation.</label></div>
            <div class="col-lg-6"><input type="text" class="form-control cancelation-input" name="phone" id="phone" ></div>
            <div class="invalid cancelationPhoneError"></div>
          </div>
          <div class="row">
            <div class="col-lg-6"><label for="date">Date of the reservation.</label></div>
            <div class="col-lg-6"><input type="date" class="form-control cancelation-input" name="date" id="date" ></div>
            <div class="invalid cancelationDateError"></div>
          </div>
          <div class="row">
            <div class="cancelation-button-box text-center">
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </div>
        </div>      
        </form>

      </div>

    </div>
    </div>
    
  </div>
</div>

<footer>
        <div class="row text-center copy-right">
            <p>Copy Right <span id="year"></span></p>
        </div>
    </div>

</footer>


<script src="{% static 'jquery/jquery.js' %}"></script>

<script src="{% static 'js/validateCancelation.js' %}"></script>

    <script>
      const currentYear = new Date().getFullYear();
      $("#year").text(currentYear)
  </script>
</body>


</html>

