{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block extra_css %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/cancelations.css' %}"/>
{% endblock %}

{% block content %}
            
  <div class="container-fluid mt-5" id="cancelations-container">
    <div class="row">
      <div class="col">
        <!-------------------------- SEARCH RESERVATION FORM ---------------------------->
        <h6>Please, check your booking confimation email before filling the fields!</h6>
        <form class="cancelation-form needs-validation" name="RegForm" id="cancelation_form" method="POST" action="{% url 'booking_search' %}" onclick="handleSubmitCancelation(event)" novalidate>
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-6">
              <label for="email">Email registered on the reservation.</label>
            </div>
            <div class="col-lg-6">
            <input type="email" class="form-control cancelation-input" name="reservation_email" id="reservation_email">
            <div class="invalid cancelationEmailError"></div>
          </div>
            
          </div>
          
          <div class="row">
            <div class="col-lg-6"><label for="date">Date of the reservation.</label></div>
            <div class="col-lg-6">
              <input type="date" class="form-control cancelation-input" name="reservation_date" id="reservation_date">
              <div class="invalid cancelationDateError"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-button-box text-center">
              <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
