{% extends "base.html" %}

{% block content %}
<section id="call-to-action">
<div class="row">
<div class="container-fluid bg-image">
    <div class="bg-film text-center">
        <!-- <h1 style="">WELCOME</h1> -->
    </div>
    <div class="container bookings">
      <div class="row">
          <div class="col">
              <h3>Lunch</h3>
              <p> Thursday to Saturday
                <br> 12.00pm to 2.00pm</p>
                

          </div>
          <div class="col">
            <h3>Closed</h3>
            <p>Sundays & Mondays</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <h3>Dinner</h3>
            <p> Tuesday & Wednesday <br>
                5.00pm to 9.00pm <br>
                
                Thursday to Saturday <br>
                5.30pm to 9.00pm</p>
      </div>
      <div class="col contact-icons">
        <div class="phone-b d-inline-flex"><i class="fa-solid fa-phone phone-icon fa-sm"></i> <p>+356248856</p>
        </div>
        <div class="email-b d-inline-flex"><i class="fa-solid fa-envelope email-icon"></i> <p>book@oryopocho.com</p></div></p>
            <div class="house d-inline-flex"><i class="fa-solid fa-house-chimney house-icon"></i> 
                <div class="address-b">
                    <p>13. Marrowbone Lane<br>
                    Dublin 8</p>
                </div>
      </div>
    </div>
</div>
<div class="row text-center">
    <div class="reservations-button">
        <h5>RESERVATIONS</h5>
    </div>
</div>
</div>
</div>
</div>
</section>

<section id="awards">
    <div class="container container-awards">
        <div class="headding text-center">
            <h1>STYLE</h1>
        </div>
        <div class="row">
            <div class="row text-center about">
                <p>Modern Irish French restaurant. Very good food inspired by seasonal 
                    produce cooked in a modern classical way with great flavour been paramount. 
                    Service is relaxed and informal in a luxurious setting.
                </p>
            </div>
            <div class="row text-center">
                <div class="michelin-img-box">
                    <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649187204/michelin_cm7pax.jpg" alt="michelin-guide">
                </div>
                <div class="headding text-center">
                    <h5>RESTAURANT RECOGNITIONS</h5>
                </div>
                <div class="dots">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div class="col-sm-12 col-lg-6 text-sm-center text-md-start text-lg-start awards">
                    <p><span class="fas fa-award"></span>Michelin Guide Great Britain & Ireland</p>
                    <p><span class="fas fa-award"></span>Irish Hospitality Awards <br>- Restaurant of The Year</p>
                    <p><span class="fas fa-award"></span>Elite Traveller <br>- Best Restaurants in Dublin</p>
                    <p><span class="fas fa-award"></span>Georgina Campbell Guide <br>- Chef of The Year</p>
                </div>
                <div class="col-sm-12 col-lg-6 text-sm-center text-md-start text-lg-start awards">
                    <p><span class="fas fa-award"></span> Irish Restaurant Awards <br>- Best Chef Dublin</p>
                    <p><span class="fas fa-award"></span>Hotel & Catering <br>- Gold Medal Award</p>
                    <p><span class="fas fa-award"></span> Restaurant Association <br>- Chef of The Year</p>
                    <p><span class="fas fa-award"></span> Georgina Campbell Guide <br>- Sommelier of The Year</p>
                </div>
               
        </div>
       
    </div>
</section>

<div class="separator"></div>

<section id="workteam">

    <div class="container container-workteam">
        <div class="headding text-center">
            <h1>TEAM</h1>
        </div>
        
        <div class="row">
            <div class="col-sm-12 col-lg-6 chef-img-box">
               <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649188361/cheff_b6fmaq.webp" alt="head-chef">
            </div>
            <div class="col-sm-12 col-lg-6 chef-text text-center text-lg-start">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s                                      
                </p>
            </div>
        
        </div>
        <div class="row flex-xl-row-reverse">
            
            <div class="col-sm-12 col-lg-6 team-img-box text-center">
                <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649188361/workteam_byh0jp.jpg" 
                alt="floor-team">
            </div>

            <div class="col-sm-12 col-lg-6 team-text text-center text-lg-end">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.                   
                </p>
            </div>
                
        </div>
    </div>

</section>

<div class="separator"></div>

<section id="gallery">
    <div class="headding text-center">
        <h1>GALLERY</h1>
    </div>
    <div class="container-fluid media-container">
        
        <div class="row">
            <div class="col">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649867483/food-4_d420qe.jpg" class="d-block" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649867488/food-5_dwhz6r.jpg" class="d-block" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649867504/food-6_n8y1ri.webp" class="d-block" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon controls" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon controls" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>

                  </div>
            </div>
            
        </div>
        
    </div>
    
</section>

<div class="separator"></div>

<section id="menus">
    <div class="headding text-center">
        <h1>MENUS</h1>
    </div>
    <div class="container-fluid menus-container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a class="" data-bs-toggle="collapse" href="#lunch" role="button" aria-expanded="false" aria-controls="collapseExample">
                    LUNCH
                  </a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 menus-separator">
                <i class="fa-solid fa-code-commit"></i>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a class="" data-bs-toggle="collapse" href="#dinner" role="button" aria-expanded="false" aria-controls="collapseExample">
                    DINNER
                </a>
            </div>
            
                         <div class="collapse" id="lunch">
              <div class="card card-body card-luch">
              </div>
            </div>
            <div class="collapse" id="dinner">
                <div class="card card-body card-dinner">
                </div>
              </div>
            
        </div>
        
    </div>
    
</section>
<div class="separator"></div>



{% endblock %}