{% extends "base.html" %}

{% block content %}
<section id="call-to-action">
<div class="row">
<div class="container-fluid bg-image">
    <div class="container bookings">

    </div>
</div>

</div>
</section>

<section id="awards">
    <div class="container container-awards">
        <div class="row">
            <div class="row text-center">
                <p>Modern Irish French restaurant. Very good food inspired by seasonal 
                    produce cooked in a modern classical way with great flavour been paramount. 
                    Service is relaxed and informal in a luxurious setting.
                </p>
            </div>
            <div class="row text-center">
                <div class="michelin-img">
                    <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649187204/michelin_cm7pax.jpg" alt="">
                </div>
                <div class="col-sm-12 col-lg-6">
                    <p>Michelin Guide Great Britain & Ireland</p>
                    <p>Irish Hospitality Awards - Restaurant of The Year</p>
                    <p>Elite Traveller - Best Restaurants in Dublin</p>
                    <p>Georgina Campbell Guide - Chef of The Year</p>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <p>Irish Restaurant Awards - Best Chef Dublin</p>
                    <p>Hotel & Catering - Gold Medal Award</p>
                    <p>Restaurant Association - Chef of The Year</p>
                    <p>Georgina Campbell Guide - Sommelier of The Year</p>
                </div>
               
        </div>
       
    </div>
</section>

<div class="separator"></div>

<section id="workteam">

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-lg-6 chef-img">
               <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649188361/cheff_b6fmaq.webp" alt="head-chef">
            </div>
            <div class="col-sm-12 col-lg-6 chef-text">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s                                      
                </p>
            </div>
        
        </div>
        <div class="row flex-column-reverse flex-lg-column-reverse">
            <div class="col-sm-12 col-lg-6 team-text text-center">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.                   
                </p>
            </div>
            <div class="col-sm-12 col-lg-6 team-img text-center">
                <img src="https://res.cloudinary.com/dthlibbj7/image/upload/v1649188361/workteam_byh0jp.jpg" 
                alt="floor-team">
            </div>
                
        </div>
    </div>
</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="phone d-inline-flex"><i class="fa-solid fa-phone phone-icon fa-sm"></i> <p>+356248856</p></div>
                <div class="email d-inline-flex"><i class="fa-solid fa-envelope email-icon"></i> <p>oryopochodublin@venue.com</p></div>
                <div class="house d-inline-flex"><i class="fa-solid fa-house-chimney house-icon"></i> 
                <div class="address">
                    <p>13. Marrowbone Lane</p>
                    <p>Dublin 8</p>
                </div>
                 
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <li class="footer-link">History</li>
                <li class="footer-link">Gallery</li>
                <li class="footer-link">Menus</li>
                <li class="footer-link">Bookings</li>
            </div>
            <div class="col-lg-4 col-md-12"></div>
        </div>
        <div class="row text-center copy-right">
            <p>Copy Right</p>
        </div>
    </div>

</footer>
{% endblock %}