{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/confirmation.css' %}">
{% endblock %}
{% block content %}
  <div class="overlay-container">

          <!--------------------------RESERVATION FOUND FEEDBACK ---------------------------->
          <div class="container-fluid" id="reservation-result-container">
            <div class="row">
              {% if double_booking_day %}
              <div class="col-12">
                <h6>Ups! There seems to be another booking registered under the same email address for the same date!</h6>
              </div>
              <div class="col-12">
                  <!-------------------------- RESERVATION FOUND TABLE DATA ---------------------------->
                <div class="customer_details failed mt-2">
                  <table class="table table-sm text-start">
                    <tr>
                      <th>Booking details</th>
                    </tr>
                    {% for record in customer %}
                    <tbody>
                      <tr>
                        <td>{{ record.date }} </td>
                        <td>At {{ record.start_time }} </td>
                      </tr>
                      <tr>
                        <td>{{ record.name |title}} {{ record.surname | title}} </td>
                        <td>{{ record.email }}</td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                  <div class="jumbotron">
                    <div class="row">
                      <div class="col-12">
                        <p class="fw-bold">You can now manage your bookings at</p>
                        <a class="go-manage-bookings" href="{% url 'profile' %}">MANAGE MY BOOKINGS</a>
                      </div>
                      <div class="col-12 mt-3 ">
                        <p class="fw-bold" >Or contact us.</p> 
                         <p class="mb-1"><i class="fa-solid fa-phone phone-icon fa-xs"></i>+353 022248856</p>
                         <p class="send-email"><i class="fa-solid fa-envelope envelope-icon fa-xs"></i>oryopochodublin@venue.com</p>
                    
                      </div>
                    </div>           
                  </div>
                </div>
              </div>
            
         

            <!-------------------------- RESERVATION SUCCESSFUL FEEDBACK ---------------------------->
            {% elif booking_successful %}
            <div class="col-12">
              <div class="success">
                <h6>The reservation has been successful!</h6>
                <h6>Check the booking confirmation email in your inbox</h6>
                <h6>We'll see you soon!</h6>
              </div>
            </div>
            <div class="col mt-3">
              <div class="row g-0 text-center">
                  <div class="col-6">
                      <a class="back-home" href="{% url 'home' %}">Go to home page</a>
                  </div>
                  <div class="col-6">
                    <a class="back-profile" href="{% url 'profile' %}">Manage my bookings</a>
                  </div>
              </div>
          </div>
            <!-------------------------- FULLY BOOKED  FEEDBACK ---------------------------->
            {% elif fully_booked %}
            <div class="col-12">
              <div class="booked-out">
                <h6>The restaurant is booked out for the date and time requested</h6>
                <h6>The reservation could not be possible</h6>
                <h6>Please try again to a different date</h6>
                <a id="book-again" href="{% url 'home' %}">Try different date</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!----------- FOOTER  ----------->
      {% include 'includes/footer.html' %}

 {% endblock %}       